

body{
  min-height: 100vh
}
.text-gray{

  color: #aaa

}
img{

  height: 170px;
  width: 140px

}

.center-card{
  margin: auto;
  width: 50%;
  padding: 10px;
}
.tr-design td{
    min-width: 200px;
}
